um                 RCDATA "um.wav"
dois               RCDATA "dois.wav"
tres               RCDATA "tres.wav"
quatro             RCDATA "quatro.wav"
cinco              RCDATA "cinco.wav"
seis               RCDATA "seis.wav"
sete               RCDATA "sete.wav"
oito               RCDATA "oito.wav"
nove               RCDATA "nove.wav"
dez                RCDATA "dez.wav"
onze               RCDATA "onze.wav"
doze               RCDATA "doze.wav"
treze              RCDATA "treze.wav"
quatorze           RCDATA "quatorze.wav"
quinze             RCDATA "quinze.wav"
dezesseis          RCDATA "dezesseis.wav"
dezessete          RCDATA "dezessete.wav"
dezoito            RCDATA "dezoito.wav"
dezenove           RCDATA "dezenove.wav"
vinte              RCDATA "vinte.wav"
trinta             RCDATA "trinta.wav"
quarenta           RCDATA "quarenta.wav"
cinquenta          RCDATA "cinquenta.wav"
sessenta           RCDATA "sessenta.wav"
setenta            RCDATA "setenta.wav"
oitenta            RCDATA "oitenta.wav"
noventa            RCDATA "noventa.wav"
cem                RCDATA "cem.wav"
cento              RCDATA "cento.wav"
duzentos           RCDATA "duzentos.wav"
trezentos          RCDATA "trezentos.wav"
quatrocentos       RCDATA "quatrocentos.wav"
quinhentos         RCDATA "quinhentos.wav"
seiscentos         RCDATA "seiscentos.wav"
setecentos         RCDATA "setecentos.wav"
oitocentos         RCDATA "oitocentos.wav"
novecentos         RCDATA "novecentos.wav"
mil                RCDATA "mil.wav"
milhao             RCDATA "milhao.wav"
milhoes            RCDATA "milhoes.wav"
real               RCDATA "real.wav"
reais              RCDATA "reais.wav"
centavo            RCDATA "centavo.wav"
centavos           RCDATA "centavos.wav"
e                  RCDATA "e.wav"
preconaodisponivel RCDATA "preconaodisponivel.wav"
promocao           RCDATA "promocao.wav"
