# Arquivos e pastas do Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.vscode/
build/
*.iml
*.lock

# Arquivos e pastas do Android
android/.gradle/
android/.idea/
android/local.properties
android/build/
android/.cxx/
android/app/build/
android/app/.cxx/
android/app/*.iml
android/app/local.properties
android/gradle/
android/captures/
*.apk
*.aab
*.aar
crashlytics-build.properties
proguard-rules.pro
debug.keystore
release.keystore

# Outros
.DS_Store
.env
.idea/
.project
.settings/
.classpath
tmp/
temp/
*~
*.log