TACBrEDICobranca BITMAP C:\Componentes\ACBr\Fontes\Imagens\bmp\ACBr_EDICobranca.BMP
TACBrEDIOcorrencia BITMAP C:\Componentes\ACBr\Fontes\Imagens\bmp\TACBrEDIOcorrencia.BMP
TACBrEDIConhectos BITMAP C:\Componentes\ACBr\Fontes\Imagens\bmp\TACBrCTe.BMP